body{
    margin: 0;
    padding: 0;
}

.street{
    width: 200px;
    padding: 5px;
    background-color: #097014;
    color: white;
    text-align: center;
    float: left;
    border-radius: 5px;
    border: 2px solid #013a07;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 13px;
    margin-right: 36%;
}

.street1{
    width: 200px;
    padding: 5px;
    background-color: #097014;
    color: white;
    text-align: center;
    float: left;
    border-radius: 5px;
    border: 2px solid #013a07;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 13px;
    margin-right: 65%;
}

.street, .street1{
    cursor: pointer;
}

/* 1-navbar */

.ul{
    border: 2px solid #6d6c6c;
    background-color: black;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 10%;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}
.li{
    color: #bfbfbf;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
    font-size: large;
    float: right;
    text-align: center;
}
.li:hover{
    background-color: #509D13;
    border: none;
    color: white;
    cursor: pointer;
}

/* 2-navbar */

.ul1{
    position: relative;
    background-color: #292929;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.li1{
    color: rgb(200, 200, 200);
    text-decoration: none;
    display: block;
    padding: 25px 20px;
    margin: 0;
    font-size: large;
    float: left;
    text-align: center;
}
.li1:hover{
    border-bottom: 2px solid white;
    color: #ffffff;
    cursor: pointer;
}

/* 3-navbar */

.li2{
    color: rgb(200, 200, 200);
    text-decoration: none;
    display: block;
    padding: 25px 20px;
    margin: 0;
    font-size: large;
    float: left;
    text-align: center;
}

.ul2{
    background-color: transparent;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 10px 15%;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}


.li2:hover{
    color: #ffffff;
    cursor: pointer;
}

/* 3-navbar */

.ul3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.li3{
    text-decoration: none;
    list-style: none;
    color: #c5c5c5;
    font-family: sans-serif;
    font-size: 15px;
    margin: 10px;
}

.li3:hover{
    color: #ffffff;
    cursor: pointer;
}

nav{
    margin: 0;
}

.container{
    padding:7% 15%;
    font-family: sans-serif;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('img/burger1.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    margin: 0;
    text-align: start;
}

.header-text{
    color: #69CF17;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 0;
}

.text1{
    color:  #69CF17;
    font-size: 30px;
    margin:10px 0;
}

.text2{
    color: white;
}

.raqam{
    color: white;
    width: 300px;
    height: 100px;
    background-color: #487519;
    display: flex;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    cursor: pointer;
}

.button{
    position: relative;
    padding: 15px 100px;
    background-color: #63C316;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-left: 60%;
}

.bottom{
    display: flex;
    align-items: center;
}

.black{
    height: 3rem;
    background-color: #0C0C0C;
}

.section1{
    padding: 30px 30px;
    background-color: #393636;
}

.box{
    width: 370px;
    background-color: #0C0C0C;
    border: 1px solid white;
    padding:10px;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(205, 205, 205);
    font-family: sans-serif;
}

.photo1{
    width: 370px;
    height: 320px;
    border-radius: 5px;
}

.card1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.card2{
    display: flex;
    justify-content: space-between;
}

.section2-text{
    color: #69CF17;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

iframe{
    width: 100%;
    height: 70vh;
}

footer{
    background: rgb(48,145,0);
    background: linear-gradient(0deg, rgba(48,145,0,1) 0%, rgba(0,0,0,1) 100%);
    text-align: center;
}

.bottom-text{
    background-color: #040a02a9;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0;
    padding: 17px;
    color: #c5c5c5;
}

.bottom-text:hover{
    color: #fff;
    cursor: pointer;
}